@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #bcb6b6;
  --background-start-rgb: rgb(255, 226, 226);
  --background-end-rgb: rgb(255, 226, 226);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: rgb(255, 226, 226);
    --background-start-rgb: rgb(255, 226, 226);
    --background-end-rgb: rgb(255, 226, 226);
    --text-color: rgb(108, 108, 108);
  }
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1 {
  font-size: 3rem;
  color: var(--text-color);
}

h2 {
  font-size: 2rem;
  color: var(--text-color);
}

h3 {
  font-size: 1.5rem;
  color: var(--text-color);
}

h4 {
  font-size: 1.25rem;
  color: var(--text-color);
}
